<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BarcodeLib" version="3.1.5" targetFramework="net48" />
  <package id="BouncyCastle.Cryptography" version="2.4.0" targetFramework="net48" />
  <package id="iTextSharp" version="5.5.13.4" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Oracle.ManagedDataAccess" version="23.26.0" targetFramework="net48" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net48" />
  <package id="SkiaSharp" version="2.88.8" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Linux.NoDependencies" version="2.88.8" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.8" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.8" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="9.0.10" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.2" targetFramework="net48" />
  <package id="System.Drawing.Common" version="9.0.10" targetFramework="net48" />
  <package id="System.Formats.Asn1" version="8.0.1" targetFramework="net48" />
  <package id="System.Memory" version="4.6.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net48" />
  <package id="System.Resources.Extensions" version="8.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="8.0.5" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>